@media (max-width: 768px) {
  .try {
    transform: scale(0.25);
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }
  .try {
    margin-left: -350px;
    margin-top: -1047px;
  }
}

/* div {
  border: 1px solid gold;
} */
.loader {
  border-top-color: #030712;
  border-left-color: #03071249;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
